.landing {
  background-color: rgba(0, 0, 0, 0.897);
  margin: 15px auto;
  max-width: 600px;
  min-height: 600px;
  padding: 20px;
}

.landing h2 {
  font-size: 20px;
}

.landing h1 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin: 30px;
}

.linkContainer {
  text-align: center;
}

.linkContainer h2 {
  margin: 30px 0px;
}

.nav-link {
  color: lightgray;
  border-radius: 10px;
  background-color: rgba(0, 118, 133, 0.568);
  padding: 8px;
}
