.landing {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  margin: auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.nav-link {
  display: flex;
  justify-content: center;
  color: lightgrey;
  margin: auto;
  text-decoration: none;
  background-color: black;
  padding: 15px;
  max-width: fit-content;
}
