.landing {
  margin: auto;
  max-width: 600px;
}

p {
  font-weight: 600;
  margin: 30px;
}

.nav-link {
  background-color: rgb(2, 204, 187);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
}

.nav-link:hover {
  background-color: rgb(4, 141, 130);
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 5px;
  color: black;
}
