.machine {
  background-color: rgba(0, 0, 0, 0.925);
  padding: 10px 25px 50px 5px;
  width: max-content;
  margin: 40px auto;
}

.sequencer {
  display: flex;
  padding: 5px 10px;
  width: fit-content;
  margin: auto;
}

.names {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: space-around;
  text-align: center;
}

.names p {
  padding: 5px 10px;
  margin: 0px 5px 0px 0px;
}

.transport-header {
  margin: auto;
  width: fit-content;
}

.transport {
  display: flex;
  margin: 10px 0px;
}

.transport-item {
  margin: 0 10px;
}

.bpm-selector {
  font-size: 12px;
  margin: 0;
}

.save-block {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.save-block button {
  margin: auto;
}

.pattern-title {
  color: rgb(255, 94, 0);
  margin: 15px 0px 0px 30px;
  font-family: "Urban Nation", cursive;
  font-size: 40px;
}

.titleSpan {
  color: rgb(255, 94, 0);
  font-size: 13px;
  margin: -5px 0px 0px 30px;
}

.titleDiv {
  display: flex;
  flex-direction: column;
}

.pattern-title-input {
  background: transparent;
  border: none;
  font-family: "Urban Nation", cursive;
  color: rgb(255, 94, 0);
  font-size: 40px;
  margin-left: 25px;
  height: 39px;
}

.sequenceFoot {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.save-message p {
  font-size: 11px;
  text-align: center;
  margin: 8px;
  width: 100px;
}
@media only screen and (max-width: 634px) {
  .names p {
    font-size: 12px;
    margin: 0px 3px 0px 0px;
    padding: 2px 4px;
  }

  .pattern-title {
    font-size: 30px;
  }

  .pattern-title-input {
    font-size: 30px;
    height: 27px;
    width: 240px;
  }
}
@media only screen and (max-width: 471px) {
  .names p {
    font-size: 8px;
    margin: 0px 3px 0px 0px;
    padding: 2px 4px;
  }

  .bpm-selector {
    font-size: 12px;
    height: 23px;
  }

  .transport-item label {
    font-size: 12px;
  }

  .pattern-title {
    font-size: 30px;
  }

  .pattern-title-input {
    font-size: 30px;
    height: 27px;
    width: 240px;
  }
}
