.signupForm {
  margin: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 20px auto;
}

.signupForm h2 {
  font-size: 25px;
}

input {
  margin: 10px auto;
  background-color: whitesmoke;
  max-width: 300px;
  padding: 7px;
  color: black;
}

input::placeholder {
  color: black;
}

.error-msg {
  font-size: 20px;
  color: rgb(75, 0, 0);
}
