.signupForm {
  margin: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 20px auto;
}

h2 {
  font-size: 20px;
}

input {
  margin: 10px auto;
  background-color: whitesmoke;
  max-width: 300px;
  padding: 7px;
  color: black;
  font-weight: 600;
}

input::placeholder {
  color: black;
  font-weight: 600;
}

button {
  background-color: black;
  color: rgb(153, 0, 255);
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
  font-size: 15px;
}

.error-msg {
  font-size: 20px;
  color: rgb(75, 0, 0);
  font-weight: 800;
}
