.signupForm {
  margin: 20px;
}

.signupForm h2 {
  font-size: 35px;
  color: rgb(255, 94, 0);
  font-family: "Urban Nation", cursive;
  width: fit-content;
  margin: auto;
}

input {
  margin: 10px auto;
  background-color: transparent;
  max-width: 300px;
  padding: 7px;
  color: lightgray;
}

input::after {
  background-color: transparent;
}

input::placeholder {
  color: lightgray;
}

.error-msg {
  font-size: 20px;
  color: rgb(75, 0, 0);
}

.createBtn {
  padding: 5px 15px;
  width: fit-content;
  margin: 20px auto;
}
