.listItem {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid grey;
  padding: 20px;
}

.pattern-link {
  font-family: sans-serif;
  background-color: black;
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 5px;
  font-weight: 800;
  color: rgb(153, 0, 255);
  min-width: 200px;
  text-transform: uppercase;
}

.cancelDelete-pattern {
  padding: 5px 10px;
  font-size: 13px;
}

.confirmDelete-pattern {
  padding: 5px 10px;
  font-size: 13px;
}

.delete-pattern {
  padding: 5px 10px;
  font-size: 13px;
}
