nav {
  display: flex;
  border-bottom: 4px solid;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.home-link {
  color: lightgrey;
  text-decoration: none;
  background-color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
}
