.pad-checkbox {
  -webkit-appearance: none;
  padding: 22px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  background-color: rgba(2, 156, 184, 0.795);
  margin: 0px 2px;
  outline: none;
  cursor: pointer;
}

.pad-checkbox:checked {
  background-color: lime;
}

@media only screen and (max-width: 910px) {
  .pad-checkbox {
    padding: 18px;
  }
}

@media only screen and (max-width: 740px) {
  .pad-checkbox {
    padding: 10px;
    margin: 0px 1px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 432px) {
  .pad-checkbox {
    padding: 8px;
    margin: 0px 1px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 360px) {
  .pad-checkbox {
    padding: 6.7px;
    margin: 0px 0.5px;
    border-radius: 3px;
  }
}
