.pad-checkbox {
  -webkit-appearance: none;
  padding: 32px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  background-color: rgba(2, 156, 184, 0.795);
  margin: 0px 2px;
  outline: none;
  cursor: pointer;
}

.pad-checkbox:checked {
  background-color: lime;
}

@media only screen and (max-width: 1214px) {
  .pad-checkbox {
    padding: 25px;
  }
}

@media only screen and (max-width: 984px) {
  .pad-checkbox {
    padding: 20px;
    margin: 0px 1px;
    border-radius: 2px;
  }
}

@media only screen and (max-width: 791px) {
  .pad-checkbox {
    padding: 15px;
    margin: 0px 1px;
    border-radius: 1px;
  }
}

@media only screen and (max-width: 634px) {
  .pad-checkbox {
    padding: 10px;
    margin: 0px 1px;
    border-radius: 1px;
  }
}

@media only screen and (max-width: 471px) {
  .pad-checkbox {
    padding: 8.3px;
    margin: 0px 0.5px;
    border-radius: 0.7px;
  }
}
