body {
  background-color: rgb(100, 100, 100);
  margin: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link-button {
  color: lightgrey;
  margin: 5px;
  text-decoration: none;
  background-color: black;
  padding: 15px;
  max-width: fit-content;
}
